.container_icons {
    display: flex;
    flex-wrap: wrap;
}

.icon_delete {
    margin-right: 15px;
}

select {
    height: 30px;
}

.inp_form {
    margin: 0px 10px 0px 10px;
    
}

.del_cont {
    margin: 5px 0px 5px 0px;
}